 body
        {
           width:1300px;
           margin-left:10%;
           background-color:#062032;
        }
        #nav_table
        {
            width:1200px;
        }
        
        #nav_table td
        {
            padding-left: 50px;
        }
        a.nav_link
        {
           color:White;
          font-family:Courier New;
          text-decoration:none;
        }
         a.nav_link2
        {
           color:#A8B7C5;
           font-family:Courier New;
            text-decoration:none;
        }
        a.nav_link:link
        {
            color:White;
             text-decoration:none;
        }
         a.nav_link2:link
        {
            color:#A8B7C5;
             text-decoration:none;
        }
        a.nav_link:visited
        {
            color:White;
             text-decoration:none;
        }
         a.nav_link2:visited
        {
            color:#9AA7B4;
             text-decoration:none;
        }
         a.nav_link:hover
        {
            color:#2A5675;
             text-decoration:none;
        }
          a.nav_link2:hover
        {
            color:#062134;
             text-decoration:none;
        }
         a.nav_link:active
        {
            color:#2A5675;
            text-decoration:none;
        }
         a.nav_link2:active
        {
            color:#062134;
             text-decoration:none;
        }
        #header
        {
            height:60px;
        }
        #body
        {
            
            background-color:White;
        }
        #navLink2
        {
            
            height:80px;
            background-color:#DAEDFF;
        }
         #nav_table2
        {
            padding-top:20px;
            padding-left:100px;
            
            
        }
        #nav_table2 td
        {
            padding-left:100px;
            padding-right:100px;
        }
        #footer
        {
          color:White;
          font-family:Courier New;
        }
        #stayright
        {
            float:right;
            margin-top:-50px;
        }
        